fastapi==0.100.0
starlette==0.27.0
uvicorn==0.22.0

tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
keras==2.14.0

h5py==3.9.0
numpy==1.25.1
protobuf==4.25.2
requests==2.31.0
